<div class="about">
  <div class="container-fluid">
<h1>About NearMe</h1>
<h2>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut vehicula scelerisque neque ac ultricies. Sed mollis ex mi, non finibus nibh porta non. Sed eleifend tortor quis luctus vestibulum. Curabitur dui nisi, sollicitudin ac elit in, placerat placerat dolor. Quisque faucibus, nulla sed cursus fringilla, nisi mi tincidunt lorem, venenatis fringilla dolor quam non lorem. </h2>
<a href="#/" class="btn btn-primary">Star Exploring</a>

  </div>
</div>
